* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

table {
  text-align: left;
  line-height: 40px;
  border-spacing: 0;
  border: 2px solid #151A51;
  width: 200px;
  border-radius: .25rem;
  padding: 0;
}

#event{
    font-size: 30px;
    font-family: sans-serif;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#changecolor{
    background:#151A51;
    color: #fff;
}
thead tr:first-child {
  background: #151A51;
  color: #fff;
  border: 1px;
}

th,
td {
  padding: 0 15px 0 20px;
}

th {
  font-weight: 500;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #151A51;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}


.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #151A51;
}

.delete:hover {
  color: #151A51;
}
