table.center {
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

td {
    background: #fff;
    padding: 20px;
  }
  
  th {
    background: #151A51;
    color: #fff;
    padding: 20px;
    border: 1px solid;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
  }
  
  